/*
Author: Daeshuan Willis
File Name: styles.css
Date: 02/09/2022
*/

body, header, nav, main, footer, img, h1, h3, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: #f6eee4;
}
img{
  max-width: 100%;
  display: block;
}
/* Style rules for mobile viewport */


/*Style rules to show mobile class and hide tab-desk class. */


/*Style rules for header area.*/
.mobile h1, .mobile h3{
  padding: 2%;
  text-align: center;
}
.mobile h1{
  font-family: 'Emblema One', cursive;
}

.mobile h3{
  font-family: 'Lora', serif;
}

nav{
  background-color: #2a1f14;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav li{
  display: block;
  font-size: 1.5em;
  font-family: Geneva,Arial,sans-serif;
  font-weight: bold;
  border-top: solid 0.5px #f6eee4;

}

nav li a{
  display: block;
  color: #f6eee4;
  padding: 0.5em 2em;
  text-decoration: none;
}

main{
  padding: 2%;
  font-family: 'Lora', serif;
}

main p{
  font-size: 1.25em;
}

main h3{
  padding: 2% 0 0 0 ;

}

main ul{
  list-style: square;
}

.link{
  color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.action{
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

.round{
  border-radius: 6px;
}

#info ul{
  margin-left: 10%;
}

#contact{
  text-align: center;
}

.tel-link{
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a{
  color: #f6eee4;
  font-weight: bold;
}

footer{
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding: 1% 0%;
}

footer a{
  color: #f3e6d8;
  text-decoration: none;
}

/* Media Query for Tablet Viewport. */
@media (min-width: 620px), print{
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk{
    display: block;
  }
  .mobile{
      display: none;
  }
  /* Tablet Viewport: Style rules for nav area */

  nav li{
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }
  nav li a{
  padding: 0.5em;
  }
  .grid{
    display: grid;
    grid-template-columns: 2;
    grid-gap: 10px;
  }
  aside{
    grid-column: 1 / span 2;
  }
}
/* Desktop Viewport: Style rules for nav area. */
@media (min-width: 1000px){
    .desktop{
        display: block;
    }
    
    .mobile-tablet{
        display: none;
    }
    nav li{
      font-size: 1.5em;

    }
    nav li a{
      padding: 0.5em 1.5em;
    }

    nav li a:hover{
      color: #2a1f14;
      background-color: #f6eee4;
      opacity: 0.5;
    }
    /* Desktop Viewport: Style rules for main content. */
    #info ul{
      margin-left: 5%;
    }
    .grid{
      grid-template-columns: 3;
      grid-gap: 30px;
    }
    aside{
      grid-column: 1 / span 3;
      font-size: 2em;
    }

}

@media (min-width: 1921px){
  body{
    background: linear-gradient(#f6eee4, #78593a);
  }
  #wrapper{
    width: 1920px;
    margin: 0px -14px 0px 0px;
  }
  main{
    background-color: #f6eee4;
  }
  .grid{
    grid-template-columns: 4;
  }
  aside{
    grid-column: 1 / span 4;
    font-size: 3em;
  }
}

 


